{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Mapping App{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header>
      <h1>Mapping App</h1>
      <nav>
        <a href="{% url 'location_list' %}">Home</a>
        <a href="{% url 'location_create' %}">Add Location</a>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
